<footer>
   <div class="footer">
  <div class="card-header">
   <i class="fa-solid fa-heart" style="color: #e4115b;"></i>... Enjoy Your Visit...<i class="fa-solid fa-heart" style="color: #e4115b;"></i>
  </div>
  

  <div class="card-body ">
    <h5 class="card-title">Visitme..<i class="fa-solid fa-face-smile" style="color:yellow;"></i>( Start-up)</h5>
    <p class="card-text"></p>
    <a href="#" class="btn ">Facebook<i class="fa-brands fa-facebook " style="color:skyblue;"></i></a>
    <a href="#" class="btn ">Linkedin<i class="fa-brands fa-linkedin " style="color:blue;"></i></a>
    <a href="#" class="btn">Whatsapp<i class="fa-brands fa-whatsapp" style="color:green;"></i></a>
  </div>
  
  <div class="card-footer text-body-secondary ">
    <a>Privacy</a>
    <a>Terms</a>
  </div>
</div>
</footer>